numpy
scipy
matplotlib>=3.5.2
pandas==1.4.4
Pillow==9.2.0
scikit_learn==1.1.2
seaborn==0.11.2
streamlit==1.13.0
xgboost==1.6.2
streamlit-aggrid==0.3.4.post3
xlsxwriter==3.0.3
io==0.2.6
openpyxl==3.0.9
# Add Altair and vega_datasets
altair==4.2.2
vega_datasets==0.9.0
jsonschema
setuptools
